body {
	font-size: 90%;
	font-family: sans-serif;
	width: 524px;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 150%;
}
section {
	margin: 0.5em 0em;
}
#credit {
	text-align: center;
	font-size: 12px;
}
#credit a {
	color: gray !important;
}

@font-face {
	font-family: "ichigojam";
	src: url("IchigoJam-1.4.woff") format('woff');
}
.ichigojam {
	font-family: "ichigojam";
	white-space: pre-wrap;
	background: #000;
	color: white;
	padding: .3em .8em;
	margin: .4em 0em;
	line-height: 1.3em;
	letter-spacing: 0px;
	font-size: 85%;
	width: 95%; /*590px;*/
	word-break: break-all;
	x-overflow: scroll;
}
@media print {
	.ichigojam {
		background: white;
		color: black;
		outline: 2px solid black;
	}
}
